{% extends 'portfolio/base.html' %}

{% block content %}
<section id="education" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">Education</h2>
        <ul class="list-group">
            <li class="list-group-item">Pursuing MCA at Mahatma Gandhi University(2023-2025)</li>
            <li class="list-group-item">Completed BCA from Kerala University(2020-2023)</li>
            <li class="list-group-item">Higher Secondary Education from Eminence Public School(2018-2020)</li>
        </ul>
    </div>
</section>
{% endblock %}
